.mat-card{
    border-top-left-radius: var(--corner-radius-medium);
    border-top-right-radius: var(--corner-radius-medium);
    position: relative;
    margin: 18px 18px;
    padding: 20px;
    border-color: #0a66c2;
    
}

div#info-style{
    padding:16px
}


.card{
    position:relative;
    display: flex;
    flex-direction: column;
    min-width: 0px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);

}

.mat-card#first-card {
    padding: 0px;
}

div#profile-background{
    display: flex;
    z-index: 1;
}
div#profile-background img{
    width:100%;
    border-radius:  32px 32px 0 0;
}

div#profile-image{
    
        width: 50px;
        height: 50px;
        background-image: ("../img/20220902_142517.jpg");
        margin-top: -112px;
        z-index: 4;
        height: 160px;
        box-sizing: border-box;
        border-radius: 49.9%;
}
    
    }



div#info-actions{
    display: flex;
}