body {
    background-color:gold ;

}
h1 {
    color: maroon;
    margin-left: 40px;
    
}

.lista_ordenada { color: red;}
p.destacado { color: red;}

.aviso{
    padding: 0.5em;
    border: 1px solid #98be10;
    background: #f6feda;
    }
    .error{
        color: #930;
        font-weight: bold;
    }
    .error { color: red;}
    .error.destacado { color: blue}
    .destacado {font-size: 15px; }
    .especial {font-weight: bold; }


